body {
    font-family: consolas;
}

.buttons, .texts, .olds {
    font-size: large;
    padding-top: 2px;
    padding: 5px;
    margin: 5px;
}

.buttons button {
    font-family: consolas;
    font-size: large;
    background-color: white;
    color: black;
    border: 1px solid red;
    border-radius: 5px;
    margin: 3px;
    cursor: pointer;
}

.buttons button:hover {
    background-color: black;
    color: white;
    transition: .3s;
}

.chat {
    bottom: 0px;
    right: 0px;
    position: absolute;
    z-index: 1000;
    border: 0px;
    cursor: pointer;
}

.chat img {
    width: 70px;
    height: 70px;
}

#chat-ui {
    width: 350px;
    height: 450px;
    bottom: 100px;
    right: 10px;
    position: absolute;
    z-index: 1000;
    border-radius: 30px;
    border: 2px solid black;
    overflow: auto;
}

#name {
    color: red;
    font-size: bold;
}

#chat-ui .chat-admin {
    padding: 5px;
}

#chat-ui .chat-admin img {
    width: 50px;
    padding-bottom: 10px;
}

#chat-ui .chat-admin span {
    padding: 5px;
    margin: 5px;
    border: 0.5px solid black;
    border-radius: 5px;
}

#online {
    padding: 5px;
    color: white;
    background-color: black;
}